.users {
  padding: 50px;
  overflow-y: scroll;
  height: 70vh;
}

.user {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: rgb(108, 153, 108);
}

.user-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}

.user-red {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px; 
    background-color: rgb(196, 95, 95);

}